.headerStyle{
    width: Auto;
    background-image: url("../../../assets/header-image.jpg");
}

.headerButton {
    width: 130px; 
    background-color: transparent !important; 
    font-size: 17px; 
    box-decoration-break: none;
}