<div *ngIf="showLoader">
  <app-loader></app-loader>
</div>
<div>
  <div class="col-md-12">
    <app-header [headerModels] = "headerModels" (componentName)="getComponentName($event)"></app-header>
  </div>
  <div>
    <div class="col-md-2">
      <app-left-panel></app-left-panel>
    </div>
    <div class="col-md-10">
      <div *ngFor="let dt of headerModels" class="offset-md-1">
        <div *ngIf="dt.isRendered && dt.code.includes('contact')">
            <app-contact></app-contact>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <app-footer></app-footer>
  </div>
</div>